Repository dev4901/Test-github-actions: changes, and which Atlantis projects are due for each by the changed paths.
All: prod, gqa

prod:
  dir: ./terraform-test/gce-new
  workspace: prod
  workflow: prod
  apply_requirements:
  - mergeable

gqa:
  dir: ./terraform-test/gce
  workspace: gqa
  workflow: prod
  apply_requirements:
  - mergeable

automerge enabled
  atlantis.yaml
Due: none

prod instance type micro
  terraform-test/gce-new/prod.tfvars
Due: prod

automerge fixed
  .gitignore
  atlantis.yaml
Due: none

Update gqa.tfvars instance type and disk size
  terraform-test/gce/gqa.tfvars
Due: gqa

Update atlantis.yaml
  atlantis.yaml
Due: none

Update prod.tfvars
  terraform-test/gce-new/prod.tfvars
Due: prod

prod config change
  terraform-test/gce-new/prod.tfvars
Due: prod

Update main.tf
  terraform-test/gce-new/main.tf
Due: prod

Update output.tf
  terraform-test/gce-new/output.tf
Due: prod

updated workflow profile
  .github/workflows/python-run.yml
Due: none

python command update
  .github/workflows/python-run.yml
Due: none

python code update
  python_test.py
Due: none

file watch
  .github/workflows/python-run.yml
Due: none

python code update
  .github/workflows/python-run.yml
  python_test.py
Due: none

python code update
  .github/workflows/python-run.yml
Due: none

actions test commit
  .github/workflows/python-run.yml
Due: none

Path conditions:
  prod: any of: terraform-test/gce-new/*.tf, terraform-test/gce-new/*.tfvars
  gqa: any of: terraform-test/gce/*.tf, terraform-test/gce/*.tfvars
